<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <title>Lonely Planet</title>
  <%= stylesheet_link_tag 'static/all.css', :cache => true %>
</head>
    <body>
        <div id="main">
			<div id="container">
				<div class="message-wrapper">
					<div style="overflow: visible; opacity: 1; display: none;" class="flash-messages " id="flash-messages"></div>
			</div>
			<%= yield %>
		</div>
    </body>
</html>
